img {
	height: 200px;
	width: 200px;
}

.event-item-container {
	display: flex;
	gap: var(--space-4);
	align-items: start;
	margin-block-end: var(--space-6);
}

.event-info-container {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
	align-items: start;

	.event-info__title {
		font-size: var(--fs-title-xl);
		font-weight: bold;
		text-align: left;
	}

	.event-info__text {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		line-clamp: 5;
		/* stylelint-disable-next-line order/properties-order */
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
}
